.floatingButtonWrap {
  display: block;
  position: fixed;
  bottom: 45px;
  right: 45px;
  z-index: 999999999;
}

.floatingButtonInner {
  position: relative;
}

.floatingButton {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  background: linear-gradient(-45deg, #7e30e1, #8769a9, #507cb3, #102c57);
  color: #fff;
  line-height: 62px;
  position: absolute;
  border-radius: 50% 50%;
  bottom: 0px;
  right: 0px;

  /* opacity: 0.3; */
  opacity: 1;
  transition: all 0.7s;
  animation: anime 3s linear infinite;
  background-size: 600%;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.floatingButton:hover {
  border: 5px solid #b2bedc;
  line-height: 55px;
}

.floatingButton .fa {
  font-size: 15px !important;
}

.floatingButton.open,
.floatingButton:hover,
.floatingButton:focus,
.floatingButton:active {
  opacity: 1;
  color: #fff;
}

.floatingButton .fa {
  transform: rotate(0deg);
  transition: all 0.4s;
}

.floatingButton.open .fa {
  transform: rotate(270deg);
}

.floatingMenu {
  position: absolute;
  bottom: 60px;
  right: 0px;
  /* width: 200px; */
  display: none;
}

.floatingMenu li {
  width: 100%;
  float: right;
  list-style: none;
  text-align: right;
  margin-bottom: 5px;
}

.floatingMenu li a {
  padding: 8px 15px;
  display: inline-block;
  background: #13357b;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.4s;
  /* -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22); */
  -webkit-box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.5);
  box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.2);
}

.floatingMenu li a:hover {
  margin-right: 10px;
  text-decoration: none;
}
